@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;	

}
body{

}
div.container{
	background-image:url(Images/Bg.jpg);
	background-repeat:no-repeat;
	width:320px;
	height:480px;
	margin:0 auto;
	padding-top:1px;
}
div.header{
	background-image:url(Images/Head.jpg);
	width:320px;
	height:50px;
	margin-top:20px;
}
div.article{
	widows:320px;
	height:410px;
	position:relative;
	margin-top:30px;
	margin-left:-15px;	
}
div.article div.first{
	width:153px;
	height:153px;
	position:absolute;
	background-image:url(Images/first.png);
	background-repeat:no-repeat;
	margin-top:50px;
	margin-left:50px;
	z-index:6;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div.first:hover{
	width:200px;
	height:200px;
	position:absolute;
	background-image:url(Images/first1.png);
	background-repeat:no-repeat;
	z-index:6;
	margin-top:50px;
	margin-left:50px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div.second{
	width:112px;
	height:112px;
	position:absolute;
	background-image:url(Images/second.png);
	background-repeat:no-repeat;
	z-index:2;
	margin-top:30px;
	margin-left:194px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div.second:hover{
	width:200px;
	height:200px;
	position:absolute;
	background-image:url(Images/second1.png);
	background-repeat:no-repeat;
	z-index:2;
	margin-top:30px;
	margin-left:194px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div.third{
	width:90px;
	height:90px;
	position:absolute;
	background-image:url(Images/third.png);
	background-repeat:no-repeat;	
	z-index:3;
	margin-top:185px;
	margin-left:155px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	
}
div.article div.third:hover{
	width:150px;
	height:150px;
	position:absolute;
	background-image:url(Images/third1.png);
	background-repeat:no-repeat;	
	z-index:3;
	margin-top:185px;
	margin-left:155px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
	
}
div.article div.fourth{
	width:150px;
	height:150px;
	position:absolute;
	background-image:url(Images/fourth.png);
	background-repeat:no-repeat;
	z-index:4;
	margin-top:195px;
	margin-left:35px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div.fourth:hover{
	width:150px;
	height:150px;
	position:absolute;
	background-image:url(Images/fourth1.png);
	background-repeat:no-repeat;
	z-index:4;
	margin-top:210px;
	margin-left:35px;
	-ms-transition:all 1s ease-in;
	-o-transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	-ms-transition:all 1s ease-in;
}
div.article div{
	opacity:0.4;	
}
div.article div:hover{
	opacity:1;	
}